@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
}

.container-fluid {
    padding: 0;
}

.dual-navbar {
    max-width: 1224px;
    margin: auto;
}

.dual-navbar a {
    padding: 30px 0px 25px 25px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

ul li::before{
    display: none !important;
}

a:hover {
    text-decoration: none;
}

.active {
    border-bottom: 2.5px solid #fff
}

#navbar-container {
    padding: 0px 12px 0px 12px;
    background-color: transparent !important;
}

.navbar {
    max-width: 1400px;
    margin: auto;
}

.navbar-brand {
    color: #000000  !important;
    font-size: 30px !important;
    font-weight: bold  !important;
    margin-right: 0px !important;
}

.navbar-brand img {
    width: 100px;
}

@media (max-width: 1057px) {
    .navbar-brand img {
        width: 70px;
    }
}

.navbar-nav a {
    font-size: 16px !important;
    letter-spacing: 1.1;
}

@media (max-width: 991px) {
    .navbar-nav a {
        font-size: 20px !important;
    }
}

#navbar_hero_overlay_combined {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #28CCAC;
    z-index: 1;
}

@media (max-width: 920px) {
    #navbar_hero_overlay_combined {
        /*background-image: url(../images/hero_image_bucky.jpg);*/
    }
}

@media (min-width: 921px) {
    #navbar_hero_overlay_combined {
        height: 80vh;
        /*background-image: url(../images/hero_image_bucky.jpg);*/
    }
}

@media (max-width: 920px) {
    #navbar_hero_overlay_combined {
        margin-bottom: 40px;
    }
}

@media (min-width: 921px) {
    #navbar_hero_overlay_combined {
        margin-bottom: 80px;
    }
}

.navbar-nav > a{
    font-weight: bold;
    font-size: 16px;
    margin-left: 25px;
    white-space: nowrap;
}

@media (max-width: 891px){
    .navbar-nav > a {
        margin-left: 5px;
    }
}

.navbar-toggler {
    border-color: #fff !important;
}

.navbar-toggler-icon {
    background-image: url(../images/menu.png) !important;
}

.nav-item {
    padding-left: 25px;
    color: #fff !important;
    font-weight: bold;
}

.nav-item:nth-child(5) {
    border-left: 2px solid #fff;
}

@media (max-width: 991px) {
    .nav-item {
        color: #28CCAC !important;
        padding-left: 16px;
    }
    .nav-link {
        padding: 16px;
    }
}

#sign-in-link {
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 8px 35px 5px 35px;
    text-transform: capitalize;
}

@media (max-width: 991px) {
    #sign-in-link {
        padding: 8px 35px 5px 16px;
    }
}

.fa-user {
    position: relative;
    left: -20;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 2px;
}

.vl {
    display: inline;
    border-left: 2px solid #fff;
    height: 50px;
}

.hero-text-section {
    display: flex;
    max-width: 1224px;
    height: inherit;
    margin: auto;
    color: #fff;
}

@media (max-width: 920px) {
    .hero-text-section {
        display: flex;
        flex-flow: wrap;
        height: inherit;
        margin: auto;
    }
}

@media (min-width: 921px) {
    .hero-text-section {
        display: flex;
        align-items: center;
        max-width: 1224px;
        height: inherit;
        margin: auto;
        margin-top: -71px;
    }
}

.hero-text-section > .left-section {
    padding: 25px;
}


@media (max-width: 920px) {
    .hero-text-section > .left-section {
        width: 100%;
    }
}

@media (min-width: 921px) {
    .hero-text-section > .left-section {
        width: 100%;
    }
}

@media (max-width: 920px) {
    .hero-text-section > .right-section {
    }
}

@media (min-width: 921px) {
    .hero-text-section > .right-section {
        width: 50%;
        padding: 15px;
    }
}

@media (max-width: 920px) {
    .hero-text {
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

@media (min-width: 921px) {
   .big-screen {
       display: block;
    }
    .small-screen {
       display: none;
    }
}

@media (max-width: 1106px) {
   .break {
        display: none;
    }  
}

@media (min-width: 1107px) {
   .break {
        display: block;
    }  
}

.hero-text > p {
    padding: 15px;
    padding-right: 25px !important;
}

@media (min-width: 775px) and (max-width: 957px) {
   .hero-text > p {
       font-size: 25px;
    }  
}

@media (min-width: 956px) {
   .hero-text > p {
       font-size: 30px;
    }  
}

.hero-text-section > .left-section > h1 {
    font-weight: bold;
    font-size: 32px;
    padding: 15px;
}

@media (min-width: 775px) and (max-width: 957px) {
   .hero-text-section > .left-section > h1 {
       font-size: 75px;
    }  
}

@media (min-width: 956px) {
   .hero-text-section > .left-section > h1 {
       font-size: 95px;
    }  
}

@media (max-width: 920px) {
    .positive-money-section {
        padding-bottom: 40px;
    }
}

@media (min-width: 921px) {
    .positive-money-section {
        padding-bottom: 80px;
    }
}

.positive-money-section h1 {
    font-size: 56px;
    font-weight: bold;
    padding-bottom: 15px;
}


@media (max-width: 921px) {
   .positive-money-section  h1 {
        font-size: 38px;
    } 
}

.positive-money-section > .row > .col-sm-6:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.positive-money-section > .row > .col-sm-6:nth-child(2) {
    padding-bottom: 25px;
}

.positive-money-section > .row > .col-sm-6:nth-child(1) {
    padding: 15px;
}

.positive-money-section > .row > .col-sm-6:nth-child(2) {
    padding: 15px;
}

@media (max-width: 575px) {
    .positive-money-section > .row > .col-sm-6:nth-child(1) {
        padding: 0px 25px 25px 25px;
    }

    .positive-money-section > .row > .col-sm-6:nth-child(2) {
        padding: 25;
    }
}

.positive-money-section > .row > .col-sm-6 > h2 {
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 35px;
}

@media (max-width: 920px) {
    .positive-money-section > .row > .col-sm-6 > h2 {
        font-size: 23px;
    }
}

.positive-money-section > .row > .col-sm-6 > p {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 35px;
}

@media (max-width: 920px) {
    .positive-money-section > .row > .col-sm-6 > p {
        font-size: 18px;
    }
}

.positive-money-section img {
    width: 100%;
    max-width: 311px;
}

@media (max-width: 575px) {
    .positive-money-section img {
        width: 100%;
        max-width: 211px;
    }
}

@media (max-width: 920px) and (min-width: 768px) {
    .positive-money-section img {
        width: 100%;
        max-width: 211px;
    }
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: #28CCAC;
  font-weight: 500;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

@media (max-width: 920px) {
    ul li::before {
        margin-left: -2em;
    }
}

.positive-money-section > .row > .col-sm-6 > ul {
    font-size: 26px;
    font-weight: 500;
}

@media (max-width: 920px) {
    .positive-money-section > .row > .col-sm-6 > ul {
        font-size: 16px;
    }
}

.container-fluid {
    background-color: #f4f3f2;
}

.smart-spending-section {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 0px 80px 0px;
    margin-top: 80px;
    margin-bottom: 80px;
}

@media (max-width: 920px) {
    .smart-spending-section {
        padding: 40px 0px 40px 0px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.smart-spending-section h1 {
    font-size: 60px;
    padding-bottom: 15px;
    font-weight: bold;
    
}

@media (max-width: 920px) {
    .smart-spending-section h1 {
        font-size: 38px;
    }
}

.smart-spending-section  p {
    font-size: 30px;
    font-weight: 500;
}

@media (max-width: 920px) {
    .smart-spending-section p {
        font-size: 18px;
        margin-bottom: 35px;
    }
}

.smart-spending-section img {
    width: 100%;
}

.smart-spending-section .col-sm-6:nth-child(1) {
    display: flex;
    align-items: center;
}

.smart-spending-section .col-sm-6 {
    padding: 15px;
}

@media (max-width: 575px) {
    .smart-spending-section .col-sm-6 {
        padding: 25px;
    }
}

.take-control-section {
    text-align: center;
    background-color: #D3EDEA;
    padding: 80px 0px 80px 0px;
    margin: 80px 0px 80px 0px;
    border-radius: 25px;
}


@media (max-width: 921px) {
    .take-control-section {
        padding: 40px 0px 40px 0px;
        margin: 40px 0px 40px 0px;
    } 
}

.take-control-section h1 {
    font-size: 56px;
    font-weight: bold;
    padding-bottom: 80px;
}


@media (max-width: 921px) {
    .take-control-section  h1 {
        font-size: 38px;
        padding-bottom: 40px;
    } 
}

.take-control-section p {
    font-size: 30px;
    font-weight: 500;
    padding: 0px 50px 0px 100px;
}


@media (max-width: 921px) {
    .take-control-section  p {
        font-size: 18px;
        padding: 0px 50px 0px 50px;
    } 
}

.take-control-section img {
    width: 100%;
    max-width: 306px;
    padding-bottom: 80px;
}


@media (max-width: 921px) {
    .take-control-section  img {
        padding-bottom: 40px;
    } 
}

.know-your-money-section {
    padding: 80px 0px 80px 0px;
    margin: 80px 0px 80px 0px;;
}

@media (max-width: 920px) {
    .know-your-money-section {
        padding: 40px 0px 40px 0px;
        margin: 40px 0px 40px 0px;;
    } 
}

.know-your-money-section h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 80px;
}

@media (max-width: 920px) {
    .know-your-money-section  h1 {
        font-size: 38px;
        padding-bottom: 40px;
    } 
}

.know-your-money-section  img {
    width: 100%;
    border-radius: 25px;
}

#payday-container {
    background-color: #91E5D5;
}

.buckky-name {
    font-size: 64px;
}

@media (max-width: 920px) {
    .buckky-name {
        font-size: 36px;
    }
}

.payday-section {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0px 100px 0px;
    margin-top: 80px;
}

@media (max-width: 920px) {
    .payday-section {
        padding: 40px 0px 40px 0px;
        margin-top: 40px;
    }
}

.payday-section .col-sm-6 {
    padding: 15px;
}

@media (max-width: 575px) {
    .payday-section .col-sm-6 {
        padding: 25px;
    }  
}

.payday-section p {
    font-size: 36px;
    font-weight: 650;
}

@media (max-width: 920px) {
    .payday-section p {
        font-size: 18px;
    }  
}

.payday-section img {
    width: 100%;
}

#financial-position-container {
    background-color: #24CCAB;
    background-image: url("../images/curvy_line.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.financial-position-section {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

.financial-position-section > .container > .row > .col-sm-6:nth-child(1) {
    margin-top: auto;
}

.financial-position-section .col-sm-6:nth-child(1) {
    padding: 15px 15px 0px 15px;
}

.financial-position-section .col-sm-6:nth-child(2) {
    padding: 15px;
}

@media (max-width: 575px) {
    .financial-position-section .col-sm-6:nth-child(1) {
        padding: 25px 25px 25px 25px;
    }
    
    .financial-position-section .col-sm-6:nth-child(2) {
        padding: 25px;
    }
}

@media (max-width: 920px) {
    .financial-position-section {
        padding-top: 50px;
    }
}

.financial-position-section p {
    color: #fff;
    font-size: 36px;
    font-weight: 650;
}

@media (max-width: 920px) {
    .financial-position-section p {
        font-size: 18px;
    }  
}

.financial-position-section img {
    width: 100%;
}

.financial-position-section .col-sm-6:nth-child(2) {
    display: flex;
    align-items: center;
}

#onestop-tool-container {
    position: relative;
    background-color: #fff;
    background-image: url("../images/curvy_line.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.onestop-tool-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1140px;
    min-height: 621px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 920px) {
    .onestop-tool-section {
        min-height: 321px;
    }
}

@media (max-width: 920px) {
    .onestop-tool-section {
        padding-top: 50px;
    }
}

.onestop-tool-section p {
    color: #000;
    text-align: center;
    font-size: 36px;
    font-weight: 650;
}

@media (max-width: 920px) {
    .onestop-tool-section p {
        font-size: 18px;
    }
    
}

.circle-1, .circle-2, .circle-3 {
    position: absolute;
    background-color: #24CCAB;
    border-radius: 50%;
}

.circle-1 {
    top: -100;
    right: -50;
    width: 287px;
    height: 287px;
}

.circle-2 {
    top: 100;
    left: 100;
    width: 112px;
    height: 112px;
}

.circle-3 {
    bottom: -30;
    left: 45%;
    width: 154px;
    height: 154px;
}

@media (max-width: 920px) {
    .circle-1 {
        top: -100;
        right: -50;
        width: 180px;
        height: 180px;
    }
    
    .circle-2 {
        top: 100;
        left: 100;
        width: 56px;
        height: 56px;
    }
    
    .circle-3 {
        bottom: -30;
        left: 45%;
        width: 76px;
        height: 76px;
    }
}
.bucky-name {
   color: #24CCAB; 
}

.green-flag-container {
    background-color: #E8922D;
    display: flex;
    justify-content: center;
}

.green-flag-section {
    width: 100%;
    max-width: 1140px;
    background-image: url('../images/mobile_in_hand_no_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.green-flag-section .col-sm-6 {
    padding: 15px;
}

@media (max-width: 575px) {
    .green-flag-section .col-sm-6 {
        padding: 25px;
    }
}

#green-flag-row {
    height: 600px; 
}

.green-flag-section .col-sm-6:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-flag-section p {
    font-size: 60px;
    color: #fff;
    font-weight: 600;
}


@media (max-width: 920px) {
    .green-flag-section p {
        font-size: 38px;
    }  
}

.green-flag-text {
    color: #24CCAB; 
}

.sign-up-section {
    max-width: 1224px;
    display: flex;
    margin: auto;
}

@media (max-width: 920px) {
    .sign-up-section {
        padding: 40px 0px 80px 0px;
    }
}

@media (min-width: 921px) {
    .sign-up-section {
        padding: 80px 0px 120px 0px;
    }
}

.sign-up-section-left, .sign-up-section-right {
    padding: 25px;
}

@media (max-width: 768px) {
    .sign-up-section-left {
        min-width: 100%;
    }
    
    .sign-up-section-right {
        display: none;    
    }
}

@media (min-width: 769px) {
    .sign-up-section-left, .sign-up-section-right {
        min-width: 50%;
    }
}

.sign-up-section-left > h1 {
    font-size: 70px;
    font-weight: bold;
}

.sign-up-section-left > p {
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
    line-height: 3em;
}

@media (max-width: 920px) {
    .sign-up-section-left > p {
        margin-top: 30px;
        line-height: 1.5em;
    }
}

.sign-up-section-right > img {
    width: 300px;
    float: right;
    border-radius: 30px;
}

.sign-up-section-left > button {
    position: relative;
    bottom: 0;
    background-color: #28ccac;
    border-radius: 50px;
    border: 0px;
    font-size: 30px;
    color: #fff;
    padding: 5px 45px 5px 45px;
    margin-top: 15px;
}

footer {
    background-color: #40444c;
    color: #fff;
}

.footer-section {
    max-width: 1224px;
    display: flex;
    flex-flow: wrap;
    margin: auto;
}

.footer-section-left {
    width: 40%;
    display: flex;
}

.footer-section-right {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.footer-section p {
    margin-bottom: 5px;
}

@media (max-width: 920px) {
    .footer-section {
        padding: 30px 0 30px 0px;
    }    
}

@media (min-width: 921px) {
    .footer-section {
        padding: 60px 0 60px 0px;
    }
}

.footer-section-1, .footer-section-2, 
.footer-section-3, .footer-section-4 {
    padding: 15;
}

@media (max-width: 768px) {
    .footer-section-1, .footer-section-2, 
    .footer-section-3, .footer-section-4 {
        width: 100%;
    }
}

@media (min-width: 769px) {
    .footer-section-1, .footer-section-2, 
    .footer-section-3, .footer-section-4 {
        
    }
}

.copyright-small-screen-view {
    margin-top: 15px;
}

.copy-sign {
    font-size: 10px;
    vertical-align: top;
}
@media (max-width: 768px) {
    .footer-section-left, .footer-section-right {
        width: 100%;
    }
    .payment-method-section {
        width: 100%;
    }
    .footer-section-2, .footer-section-3,
    .footer-section-4 {
        width: 33.33%;
    }
    .copyright-small-screen-view {
        display: block;
    }
    .copyright-big-screen-view {
        display: none;
    }
}

@media (min-width: 769px) {
    .footer-section-left {
        width: 40%;
    }
    
    .footer-section-right {
        width: 60%;
    }
    
    .payment-method-section {
        width: 100%;
    }
    .footer-section-2, .footer-section-3,
    .footer-section-4 {
        width: 33.33%;
    }
    .copyright-small-screen-view {
        display: none;
    }
    .copyright-big-screen-view {
        display: block;
    }
}

.footer-section-1 > img {
    width: 70px;
    padding: 5px;
}

.footer-branding {
    font-size: 56px;
}

.footer-section-1 > i {
    padding: 5px;
}

.footer-section-1 > p:nth-child(9) {
    margin-top: 15px;
}

.payment-method-section {
    padding: 15px;
}

.payment-method-section > img {
    width: 90px;
    height: 70px;
    padding: 10px 2px 10px 2px;
    border-radius: 10px;
    
}

.hotline-section {
    display: flex;
    align-items: center;
}

.hotline-section-left {
    width: 50%;
}

.hotline-section-right {
    width: 50%;
    font-size: 30px;
    font-weight: bold;
}

.hotline-section-left > img:last-child {
    width: 100px;
    height: 110px;
    margin-top: 10px;
    padding: 10px 2px 10px 2px;
    
}

/* Log in pop up */

form {
    margin: 0;
}

.sign-in-popup,
.create-account-popup,
.otp-popup {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    filter: blur(0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.close-btn {
    display: flex !important;
    width: 25px !important;
    position: absolute;
    right: 40px;
    top: 20px;
    font-size: 40px;
    padding: 2.5px 5px 2.5px 5px;
    background-color: transparent !important;
    color: #000 !important;
    border: none;
}

.pop-up {
    position: relative;
    max-width: 500px;
    background-color: #fff;
    padding: 35px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #000;
}

@media (max-width: 576px) {
    .pop-up {
        padding: 25px;
    }
}

.pop-up img {
    width: 60px;
    margin-bottom: 15px;
}

.pop-up h3 {
    color: #353535;
    font-size: 36px;
    font-weight: bold;
}

@media (max-width: 576px) {
    .pop-up h3 {
        font-size: 30px;
    }
}

.pop-up p {
    color: #353535;
    font-size: 18px;
    font-weight: 500;
}

#forgotten-password-para {
    color: #28CCAC;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 25px;
}

@media (max-width: 576px) {
    #forgotten-password-para {
        margin-bottom: 12px;
    }
}

.pop-up button {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 25px;
    color: #fff;
    background-color: #28CCAC;
    border: 0px;
    border-radius: 10px;
    margin-bottom: 25px;
}

@media (max-width: 576px) {
    .pop-up button {
        margin-bottom: 12px;
    }
}

.pop-up a {
    color: #28CCAC !important;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.terms-of-service-para {
    font-size: 14px !important;
    margin-top: 25px;
}

@media (max-width: 576px) {
    .terms-of-service-para {
        margin-top: 12px;
    }
}

#terms-of-service {
    color: #28CCAC;
}

.pop-up input {
    width: 100%;
    color: #a0adad;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #a0adad;
    margin-top: 25px;
}

@media (max-width: 576px) {
    #phone-number-input {
        margin-top: 0px;
    }
}

::-webkit-input-placeholder {
    /* Edge */
    padding: 8px 0px 0px 0px;
    font-size: 18px;
    color: #a0adad;
    font-weight: bold;
}

:-ms-input-placeholder {
    /* Internet Explorer */
    padding: 8px 0px 0px 0px;
    font-size: 18px;
    color: #a0adad;
    font-weight: bold;
}

::placeholder {
    font-size: 18px;
    color: #a0adad;
    font-weight: bold;
}

/* end */



/*Create account popup*/


.create-account-popup {
    display: none;
}


.create-account-popup>.pop-up>form>input {
    color: #a0adad;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
}


/*end*/

/*OTP popup*/

.otp-popup {
    display: none;
}

.otp-popup>.pop-up input {
    width: 15%;
    color: #a0adad;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #a0adad;
    margin-top: 25px;
}

.otp-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.otp-popup .pop-up p:nth-child(6) {
    color: #000;
}

/*end*/













