{% load static %}
<html>
<head>
    <title>Bucky</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon"  href="{% static '/images/bucky_favicon.png'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9210d8956f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{%static 'css/ekyc.css' %}">
</head>

<body>
    <div class="ekyc-section">
        <button onClick="showEkycPage('previous'); removeClass()" id="previous-btn"><img
                src="{% static 'images/left_arrow.png' %}"></button>
        <div class="ekyc-container">
            <h2 id="text">Let’s start by getting to know you better</h2>
            <h1 id="lable">Name</h1>
            <input id="ekyc-input" placeholder="Enter your Name">
            <div class="img-div">
                <div class="img-sub-div" id="img-0">
                    <div class="img-container">
                        <img src="" value="male" class="img" alt="">
                    </div>
                    <p class="img-text"></p>
                </div>
                <div class="img-sub-div" id="img-1">
                    <div class="img-container">
                        <img src="" value="" class="img" alt="">
                    </div>
                    <p class="img-text"></p>
                </div>
                <div class="img-sub-div" id="img-2">
                    <div class="img-container">
                        <img src="" value="" class="img" alt="">
                    </div>
                    <p class="img-text"></p>
                </div>
                <div class="img-sub-div" id="img-3">
                    <div class="img-container">
                        <img src="" value="" class="img" alt="">
                    </div>
                    <p class="img-text"></p>
                </div>
                <div class="img-sub-div" id="img-4">
                    <div class="img-container">
                        <img src="" value="" class="img" alt="">
                    </div>
                    <p class="img-text"></p>
                </div>
            </div>
            <div id="income-div">
                <div class="income-sub-div">
                    <p class="income-text" id="txt-0"></p>
                </div>
                <div class="income-sub-div">
                    <p class="income-text" id="txt-1"></p>
                </div>
                <div class="income-sub-div">
                    <p class="income-text" id="txt-2"></p>
                </div>
                <div class="income-sub-div">
                    <p class="income-text" id="txt-3"></p>
                </div>
                <div class="income-sub-div">
                    <p class="income-text" id="txt-4"></p>
                </div>
                <div class="income-sub-div">
                    <p class="income-text" id="txt-5"></p>
                </div>
                <div class="income-sub-div">
                    <p class="income-text" id="txt-6"></p>
                </div>
                <div class="income-sub-div">
                    <p class="income-text" id="txt-7"></p>
                </div>
            </div>
            <form id="ekyc-form" enctype="multipart/form-data" method="post" action="">
                {% csrf_token %}
                <div class="verify-identity-section">
                    <!-- End Upload Area -->
                    <div id="uploadArea" class="upload-area">
                        <!-- Header -->
                        <div class="upload-area__header">
                            <p class="upload-area__title"></p>
                            <span class="upload-area__tooltip-data"></span> <!-- Data Will be Comes From Js -->
                        </div>
                        <!-- End Header -->

                        <!-- Drop Zoon -->
                        <div id="dropZoon" class="upload-area__drop-zoon drop-zoon">
                            <span class="drop-zoon__icon">
                                <i class='bx bxs-file-image'></i>
                            </span>
                            <p class="drop-zoon__paragraph"></p>
                            <span id="loadingText" class="drop-zoon__loading-text">Please Wait</span>
                            <img src="" alt="Preview Image" id="previewImage" class="drop-zoon__preview-image"
                                draggable="false">
                            <input type="file" id="fileInput" name="selfie" class="drop-zoon__file-input" accept="image/*" required>
                        </div>
                        <!-- End Drop Zoon -->

                        <!-- File Details -->
                        <div id="fileDetails" class="upload-area__file-details file-details">
                            <h3 class="file-details__title">Uploaded File</h3>

                            <div id="uploadedFile" class="uploaded-file">
                                <div class="uploaded-file__icon-container">
                                    <i class='bx bxs-file-blank uploaded-file__icon'></i>
                                </div>

                                <div id="uploadedFileInfo" class="uploaded-file__info">
                                    <span class="uploaded-file__name">Proejct 1</span>
                                    <span class="uploaded-file__counter">0%</span>
                                </div>
                            </div>
                        </div>
                        <!-- End File Details -->
                    </div>
                    <!-- End Upload Area -->
                    <!-- End Upload Area -->
                    <div id="uploadArea1" class="upload-area">
                        <!-- Header -->
                        <div class="upload-area__header">
                            <p class="upload-area__title"></p>
                            <span class="upload-area__tooltip-data"></span> <!-- Data Will be Comes From Js -->
                        </div>
                        <!-- End Header -->
                        <!-- Drop Zoon -->
                        <div id="dropZoon1" class="upload-area__drop-zoon drop-zoon">
                            <span class="drop-zoon__icon">
                                <i class='bx bxs-file-image'></i>
                            </span>
                            <p class="drop-zoon__paragraph"></p>
                            <span id="loadingText1" class="drop-zoon__loading-text">Please Wait</span>
                            <img src="" alt="Preview Image" id="previewImage1" class="drop-zoon__preview-image"
                                draggable="false">
                            <input type="file" id="fileInput1" name="nid-front" class="drop-zoon__file-input1" accept="image/*" required>
                        </div>
                        <!-- End Drop Zoon -->

                        <!-- File Details -->
                        <div id="fileDetails1" class="upload-area__file-details file-details">
                            <h3 class="file-details__title">Uploaded File</h3>

                            <div id="uploadedFile1" class="uploaded-file">
                                <div class="uploaded-file__icon-container">
                                    <i class='bx bxs-file-blank uploaded-file__icon'></i>
                                </div>

                                <div id="uploadedFileInfo1" class="uploaded-file__info">
                                    <span class="uploaded-file__name1">Proejct 1</span>
                                    <span class="uploaded-file__counter1">0%</span>
                                </div>
                            </div>
                        </div>
                        <!-- End File Details -->
                    </div>
                    <!-- End Upload Area -->
                    <div id="uploadArea2" class="upload-area">
                        <!-- Header -->
                        <div class="upload-area__header">
                            <p class="upload-area__title"></p>
                            <span class="upload-area__tooltip-data"></span> <!-- Data Will be Comes From Js -->
                        </div>
                        <!-- End Header -->
                        <!-- Drop Zoon -->
                        <div id="dropZoon2" class="upload-area__drop-zoon drop-zoon">
                            <span class="drop-zoon__icon">
                                <i class='bx bxs-file-image'></i>
                            </span>
                            <p class="drop-zoon__paragraph"></p>
                            <span id="loadingText2" class="drop-zoon__loading-text">Please Wait</span>
                            <img src="" alt="Preview Image" id="previewImage2" class="drop-zoon__preview-image"
                                draggable="false">
                            <input type="file" id="fileInput2" name="nid-back" class="drop-zoon__file-input2" accept="image/*" required>
                        </div>
                        <!-- End Drop Zoon -->

                        <!-- File Details -->
                        <div id="fileDetails2" class="upload-area__file-details file-details">
                            <h3 class="file-details__title">Uploaded File</h3>

                            <div id="uploadedFile2" class="uploaded-file">
                                <div class="uploaded-file__icon-container">
                                    <i class='bx bxs-file-blank uploaded-file__icon'></i>
                                </div>

                                <div id="uploadedFileInfo2" class="uploaded-file__info">
                                    <span class="uploaded-file__name2">Proejct 1</span>
                                    <span class="uploaded-file__counter2">0%</span>
                                </div>
                            </div>
                        </div>
                        <!-- End File Details -->
                    </div>
                </div>
                <div class="text-input-section">
                    <div class="text-input-area">
                        <label class="overview-label" for="name">Name</label>
                        <div class="overview-input-container">
                            <input class="overview-text-input" id="name-input" name="name" required>
                        </div>
                    </div>
                    <div class="text-input-area">
                        <label class="overview-label" for="email">Email</label>
                        <div class="overview-input-container">
                            <input class="overview-text-input" id="email-input" name="email" required>
                        </div>
                    </div>
                    <div class="text-input-area">
                        <label class="overview-label" for="address">Address</label>
                        <div class="overview-input-container">
                            <input class="overview-text-input" id="address-input" name="address" required>
                        </div>
                    </div>
                    <div class="text-input-area">
                        <label class="overview-label" for="gender">Gender</label>
                        <div class="overview-input-container">
                            <input class="overview-text-input" id="gender-input" name="gender" readonly required>
                        </div>
                    </div>
                    <div class="text-input-area">
                        <label class="overview-label" for="profession">Profession</label>
                        <div class="overview-input-container">
                            <input class="overview-text-input" id="profession-input" name="profession" readonly
                                required>
                        </div>
                    </div>
                    <div class="text-input-area">
                        <label class="overview-label" for="source of fund">Source of Fund</label>
                        <div class="overview-input-container">
                            <input class="overview-text-input" id="source-of-fund-input" name="source of fund" readonly
                                required>
                        </div>
                    </div>
                    <div class="text-input-area">
                        <label class="overview-label" for="estimated monthly income">Estimated<br> Monthly
                            Income</label>
                        <div class="overview-input-container">
                            <input class="overview-text-input" id="estimated-monthly-income-input"
                                name="estimated monthly income" readonly required>
                        </div>
                    </div>
                </div>
                <div class="upload-documents-section">
                    <div id="uploadArea3" class="upload-area">
                        <!-- Header -->
                        <div class="upload-area__header">
                            <p class="upload-area__title"></p>
                            <span class="upload-area__tooltip-data"></span> <!-- Data Will be Comes From Js -->
                        </div>
                        <!-- End Header -->
                        <!-- Drop Zoon -->
                        <div id="dropZoon3" class="upload-area__drop-zoon drop-zoon">
                            <span class="drop-zoon__icon">
                                <i class='bx bxs-file-image'></i>
                            </span>
                            <p class="drop-zoon__paragraph"></p>
                            <span id="loadingText3" class="drop-zoon__loading-text">Please Wait</span>
                            <img src="" alt="Preview Image" id="previewImage3" class="drop-zoon__preview-image"
                                draggable="false">
                            <input type="file" id="fileInput3" name="debit-card" class="drop-zoon__file-input3" accept="image/*" required>
                        </div>
                        <!-- End Drop Zoon -->

                        <!-- File Details -->
                        <div id="fileDetails3" class="upload-area__file-details file-details">
                            <h3 class="file-details__title">Uploaded File</h3>

                            <div id="uploadedFile3" class="uploaded-file">
                                <div class="uploaded-file__icon-container">
                                    <i class='bx bxs-file-blank uploaded-file__icon'></i>
                                </div>

                                <div id="uploadedFileInfo3" class="uploaded-file__info">
                                    <span class="uploaded-file__name3">Proejct 1</span>
                                    <span class="uploaded-file__counter3">0%</span>
                                </div>
                            </div>
                        </div>
                        <!-- End File Details -->
                    </div>
                    <div id="uploadArea4" class="upload-area">
                        <!-- Header -->
                        <div class="upload-area__header">
                            <p class="upload-area__title"></p>
                            <span class="upload-area__tooltip-data"></span> <!-- Data Will be Comes From Js -->
                        </div>
                        <!-- End Header -->
                        <!-- Drop Zoon -->
                        <div id="dropZoon4" class="upload-area__drop-zoon drop-zoon">
                            <span class="drop-zoon__icon">
                                <i class='bx bxs-file-image'></i>
                            </span>
                            <p class="drop-zoon__paragraph"></p>
                            <span id="loadingText4" class="drop-zoon__loading-text">Please Wait</span>
                            <img src="" alt="Preview Image" id="previewImage4" class="drop-zoon__preview-image"
                                draggable="false">
                            <input type="file" id="fileInput4" name="utility-bill" class="drop-zoon__file-input4" accept="image/*" required>
                        </div>
                        <!-- End Drop Zoon -->

                        <!-- File Details -->
                        <div id="fileDetails4" class="upload-area__file-details file-details">
                            <h3 class="file-details__title">Uploaded File</h3>

                            <div id="uploadedFile4" class="uploaded-file">
                                <div class="uploaded-file__icon-container">
                                    <i class='bx bxs-file-blank uploaded-file__icon'></i>
                                </div>

                                <div id="uploadedFileInfo4" class="uploaded-file__info">
                                    <span class="uploaded-file__name4">Proejct 1</span>
                                    <span class="uploaded-file__counter4">0%</span>
                                </div>
                            </div>
                        </div>
                        <!-- End File Details -->
                    </div>
                    <div id="uploadArea5" class="upload-area">
                        <!-- Header -->
                        <div class="upload-area__header">
                            <p class="upload-area__title"></p>
                            <span class="upload-area__tooltip-data"></span> <!-- Data Will be Comes From Js -->
                        </div>
                        <!-- End Header -->
                        <!-- Drop Zoon -->
                        <div id="dropZoon5" class="upload-area__drop-zoon drop-zoon">
                            <span class="drop-zoon__icon">
                                <i class='bx bxs-file-image'></i>
                            </span>
                            <p class="drop-zoon__paragraph"></p>
                            <span id="loadingText5" class="drop-zoon__loading-text">Please Wait</span>
                            <img src="" alt="Preview Image" id="previewImage5" class="drop-zoon__preview-image"
                                draggable="false">
                            <input type="file" id="fileInput5" name="bank-statement" class="drop-zoon__file-input5" accept="image/*" required>
                        </div>
                        <!-- End Drop Zoon -->

                        <!-- File Details -->
                        <div id="fileDetails5" class="upload-area__file-details file-details">
                            <h3 class="file-details__title">Uploaded File</h3>

                            <div id="uploadedFile5" class="uploaded-file">
                                <div class="uploaded-file__icon-container">
                                    <i class='bx bxs-file-blank uploaded-file__icon'></i>
                                    <span class="uploaded-file__icon-text"></span> <!-- Data Will be Comes From Js -->
                                </div>

                                <div id="uploadedFileInfo5" class="uploaded-file__info">
                                    <span class="uploaded-file__name5">Proejct 1</span>
                                    <span class="uploaded-file__counter5">0%</span>
                                </div>
                            </div>
                        </div>
                        <!-- End File Details -->
                    </div>
                </div>
                <div class="btn-container">
                    <button class="next-btn" id="confirm-btn" for="ekyc-form">Confirm</button>
                </div>
            </form>
            <div class="verifing-section">
                <div class="verifing-section-container">
                    <img src="{%static 'images/verified_icon.png' %}" alt="verified_icon">
                    <h1>We’re Verifying Now</h1>
                    <p>Please hold still. You’ll be notified after the process is completed</p>
                </div>
            </div>
        </div>
        <div class="btn-container">
            <button onClick="showEkycPage('next'); removeClass()" class="next-btn" for="ekyc-form">Next</button>
        </div>
    </div>
    <div class="terms-and-conditions-popup">
        <div class="terms-and-conditions-popup-container">
            <h3>Terms and Conditions</h3>
            <ol>
                <li>By using the Buckyy Pay Later, you (“User”) agree that you have read, understood, accepted, and agreed with the terms of use as stated herein (the “Buckyy Pay Later Terms and Conditions and Conditions”, or the “ Terms and Conditions”, or the “Agreement”).

                </li>
                <li>The Terms and Conditions stated herein constitute a legal agreement between you and Buckyy Pvt. Limited (“Buckyy” or the “Company”).

                </li>
                <li>Buckyy Limited is an information technology-enabled company that provides a digital marketplace for ordering products and services including food, courier, groceries, shopping, games, pharma, etc. items.</li>
                <li>By using the Buckyy mobile application (the “Application”) or Buckyy website (collectively, the “Buckyy Platform” or the `Platform’) for the purpose of offering or using the Buckyy Pay Later (the  “Service”), you hereby expressly acknowledge and agree to be bound by the Terms and Conditions (the “Terms and Conditions”), and any future amendments and additions to the Terms and Conditions as published from time to time at https://www.Buckyy.com/terms or through the Buckyy Platform.
                </li>
                <li>Your continued use of the Service, whether or not reviewed by you, shall constitute your consent to and acceptance of the Terms and Conditions. You further agree to the representations made by yourself below.
                </li>
                <li>If you do not agree to the Terms and Conditions, please do not proceed to use the Service. If you have commenced the use of Service, you may notify the Company of your intention to discontinue the use of the Service in accordance with Clause 9.
                </li>
                <li>Buckyy Limited and the User are hereinafter referred to individually a “Party” and jointly as the “Parties”.</li>
                <li>For the purpose of the Terms and Conditions, wherever the context so requires:
                </li>
                <li>(a) “Billing Cycle(s)” shall mean a 15-day slot starting from the  1st and 16th day of a month in which any user is charged for their Usage Amount under the Service.
                </li>
                <li>(b) “Deferred Payment” shall mean temporary postponement of the payment of an outstanding bill in consideration of any product from Buckyy Platform where the User opts to pay for any products on an agreed later payment arrangement.

                </li>
                <li>(c) “Buckyy Platform/Platform” shall mean Buckyy mobile application provided to a User for using Buckyy services including Pay Later Service.</li>
                <li>(d) “Buckyy Pay” shall mean the digital wallet of Buckyy Limited designated for the digital payments of bills under this Agreement.
                </li>
                <li>(e) “Personal Information/Data” shall mean any information of the User collected for the purpose of this Agreement as specified clauses in 1 (e) and 6. 
                </li>
                <li>(f) “Product(s)”, for this Agreement, shall mean and include any items displayed at Buckyy Platform under the tab `Shop’’.

                </li>
                <li>(g) “Usage/Usage Amount” shall mean the total amount of purchase by a User under the Service within a Billing Cycle.

                </li>
                <li>(h) “User(s)” shall mean any natural or legal person who is a user of the Services and has agreed to the Terms and Conditions herein.</li>
                <li>(i) “User Account” shall mean an account designated under the name of a User in Buckyy Platform for using the Service under this Agreement. 
                </li>
                <li>Scope and Procedure of the Buckyy Pay Later (the Service)
                    As a User of the Service, you agree that the Company reserves the right to impose such limits, restrictions, and/or further conditions on your access to and use of the Service. In the event that you choose to use the Service and pay for the Products on a deferred basis: 
                    </li>
                <li>(a) You are required to open an Account with Buckyy Platform and register for the Service by providing some Personal Information/Data (as per clauses 1 (h) and 6).
                </li>
                <li>(b) Once you are registered for the Service, you can navigate the Platform and make orders from the products displayed at Buckyy Platform.

                </li>
                <li>(c) You will be provided with the option of deferred payments for the displayed Products at the Platform subject to the condition that you shall be obliged to pay the bill in consideration of the Products you bought from the Platform within the time limit prescribed herein.</li>
                <li>
                    (d) You will be provided with an amount of balance specified by the Company by which you can buy Products displayed on the Platform and this amount will be the maximum limit of your Usage of the Service in a month.
                    </li>
                <li>(e) The Service will be divided into three Billing Cycles of 15 days, each started on the 1st and 16th day of each month, regardless of when you join the Service. After the end of each Billing Cycle, the Company will send you a notification informing your remaining balance and a bill will be issued against your Usage Amount within the Billing Cycle.</li>
                <li>(f) You will be required to pay the bill issued in consideration of the Usage Amount in a billing cycle within 30 days of issuing the bill.</li>
                <li>
                    (g) You agree that if you fail to make the payment within the aforementioned time limit, the Company may take such steps as are necessary to enforce payment by you.
                    </li>
                <li>(h) You agree that the Company may collect your Personal Information, including but not limited to your name, photo identification card (NID), Phone number, device (mobile/desktop/laptop) specifications, location data, bank details, etc. (as per clause 6) to facilitate the Service under this Agreement.</li>
                <li>2. Payment</li>
                <li>2.1. Buckyy shall issue an aggregated payment statement or bill after the end of each Billing Cycle to the User.</li>
                <li>2.2. User shall pay the bill within 45 days of issuing the bill.</li>
                <li>
                    2.3. Users can pay the bill in four equal amounts of installments. The first installment will be taken at the point of sale and the rest in every two-week interval. No such installment shall not be any amount below the 25% of the total amount payable under the bill issued in a Billing Cycle. Any User who failed to pay the bill within the specified 45 days’ time limit will not be eligible for payment in installment.
                    </li>
                <li>2.4. If any User fails to pay any bill within the specified time limit, he will be given 3 days of the grace period. The grace period for late bills shall apply to Users who are still in arrears of their first bill. If any user further fails to pay the bill within the grace period, the Account of the said User will be suspended till the due payment is made. </li>
                <li>2.5. In case of any due payment after the end of the grace period, the user will be charged a late fee at a rate of 10% of his total Usage Amount in a Billing Cycle or a maximum of 1000 BDT, whichever is greater. Once the due payment is made with late fees, then the User Account will be reopened for use. The result of defaulted payments after the grace period is over will be the addition of 20 BDT each day until the payment is completed.
                </li>
                <li>2.6. If any User has any bill due after the end of a Billing Cycle, he will be notified as to that bill separately from the latest bill and both the bill will be displayed separately.
                </li>
                <li>2.7. Late fees will be added to the respective bill any User failed to pay and will not be aggregated to the latest bill.
                </li>
                <li>2.8. The rate of late fees may change from time to time as the Company seems fit and necessary. 
                </li>
                <li>2.9. The method of payment for the Service shall be Buckyy Pay or other payment methods as approved by the Company from time to time.
                </li>
                <li>2.10. There shall be no charges applied by the Company on the Usage of the Service other than the payment in consideration of the products.</li>
                <li>2.11. Buckyy Limited may enforce extra measures to make the user complete the due payment.
                </li>
                <li>3 Refund Process</li>
                <li>3.1 In the event where any User is due a full or partial refund for the Products purchased under the Service but has made payment of the bill for which such Products fall under, The Company shall take appropriate steps to refund the amount within the 7 working days of the refund note issued.
                </li>
                <li>4. Representations, Warranties, and Undertakings</li>
                <li>4.1 By using the Services, you expressly represent, warrant, and undertake that:</li>
                <li>(a) You are legally entitled to accept and agree to the Terms and Conditions;</li>
                <li>(b) All the information which you provide shall be true and accurate;</li>
                <li>(c) When using the Service, you shall comply with all applicable laws in Bangladesh;</li>
                <li>(d) You may access the Service only using authorized means. It is your responsibility to check and ensure that you are utilizing the appropriate Pay Later Service;</li>
                <li>(e) You will use the Service only for lawful purposes;</li>
                <li>(f) You will use the Service only for the purpose for which it is intended to be used;
                </li>
                <li>(g) You will not use the Buckyy Platform or the Service for sending or storing any unlawful material or for fraudulent purposes;</li>
                <li>(h) You will not use the Buckyy Platform and/or the Service to cause nuisance, annoyance, or inconvenience;</li>
                <li>(i) You will not try to harm the Service and/or the Buckyy Platform in any way whatsoever;
                </li>
                <li>(j) You agree to notify the Company immediately of any unauthorized use of the Service or User Account or any other breach of security;</li>
                <li>(k) You will provide the Company with proof of identity as it may be requested or required;</li>
                <li>(l) You agree to provide accurate, current and complete information as required for the Service and undertake the responsibility to maintain and update your information in a timely manner to keep it accurate, current and complete at all times during the term of this Agreement. You agree that the Company may rely on your information as accurate, current and complete. You acknowledge that if your information is untrue, inaccurate, not current or incomplete in any respect, the Company has the right but not the obligation to terminate this Agreement and your use of the Service at any time with or without notice;</li>
                <li>(m) You shall not employ any means to defraud the Company or enrich yourself, through any means, whether fraudulent or otherwise, through any event, promotion or campaign launched by the Company to encourage new subscription or usage of the Service by new or existing consumers;</li>
                <li>(n) You agree that the Service are provided on a reasonable effort basis;</li>
                <li>(o) You agree that your use of the Service will be subject to the Company’s Privacy Policy; and
                </li>
                <li>(p) You agree to assume full responsibility and liability for all loss or damage suffered by yourself, the Company or any other party as a result of your breach of this Agreement.
                </li>
                <li>4.3 You further represent, warrant and undertake that:</li>
                <li>(a) Your use of the Service is for your own sole, personal use or, where permitted, for the use of another person who is at least twelve (12) years old (“Unaccompanied Minor”), in which case you shall assume primary responsibility of the Unaccompanied Minor; and
                </li>
                <li>(b) You shall not authorize others to use your identity or User status, and you may not assign or otherwise transfer your User Account to any other person or entity.
                </li>
                <li>5. Taxes</li>
                <li>5.1 You agree that this Agreement shall be subject to all prevailing statutory taxes, duties, fees, charges and/or costs, however denominated, as may be in force and in connection with any future taxes that may be introduced at any point of time.</li>
                <li>5.2 You further agree to use your best efforts to do everything necessary and required by the relevant laws to enable, assist and/or defend the Company to claim or verify any input tax credit, set off, rebate or refund in respect of any taxes paid or payable in connection with the Service under this Agreement.</li>
                <li>6. Data Privacy and Personal Data Protection Policy</li>
                <li>6.1 You agree and consent to the Company collecting, using, disclosing and processing your Personal Data for the Purposes and in the manner as identified hereunder.
                </li>
                <li>
                    6.2 For the purposes of this Agreement, “Personal Data” means information about you, from which you are identifiable, directly or indirectly, including but not limited to your, name, photo identification card (NID), Phone number, device (mobile/desktop/laptop) specifications, location data, or any information about you which you have provided to the Company by any means and/or any information about you that has been or may be collected, stored, used and processed by the Company.
                </li>
                <li>6.3 The provision of your Personal Data is voluntary. However, if you do not provide the Company your Personal Data, your application/request to use the Service may be incomplete and the Company will not be able to process your Personal Data for the purposes outlined below and may cause the Company to be unable to allow you to use the Service.</li>
                <li>6.4 The Company may collect, use, disclose and process your Personal Data for business and activities of the Company which shall include, without limitation the following (the “Purposes”):</li>
                <li>(a) To perform the Company’s obligations in respect of any contract entered with you;
                </li>
                <li>(b) To provide you with any services pursuant to the Terms and Conditions herein;
                </li>
                <li>(c) Process, manage or verify your application for the Service pursuant to the Terms and Conditions herein;
                </li>
                <li>(d) To validate and/or process payments pursuant to the Terms and Conditions herein;</li>
                <li>(e) To process any refunds, rebates and or charges pursuant to the Terms and Conditions herein;
                </li>
                <li>(f) To facilitate or enable any checks as may be required pursuant to the Terms and Conditions herein;
                </li>
                <li>(g) To develop, enhance and provide what is required pursuant to the Terms and Conditions herein to meet your needs;

                </li>
                <li>(h) To conduct due diligence checks, credit assessment or evaluation with credit reporting agencies;
                </li>
                <li>(i) For internal administrative purposes, such as auditing, data analysis, database records;

                </li>
                <li>(j) For purposes of detection, prevention and prosecution of crime including in relation to its obligations under any applicable laws, regulations, guidelines or notices issued by any government or regulatory authority (whether in Bangladesh or overseas);
                </li>
                <li>(k) For the Company to comply with its obligations any applicable laws, regulations, guidelines or notices issued by any government or regulatory authority (whether in Bangladesh or overseas including disclosing such Personal Data to Bangladesh and overseas law enforcement agencies or courts);

                </li>
                <li>(l) To respond to questions, comments and feedback from you;
                </li>
                <li>(m) In accordance with any applicable laws permitting the use, collection, disclosure and processing of Personal Data.
                </li>
                <li>provided that in the event your data is shared with third parties including but not limited to the Company’s affiliate companies, such third parties shall be contractually obliged to provide no less protection for that data than the Company.

                </li>
                <li>6.5 In addition to the above, The Company may wish to communicate with you either by email, telephone or text message in relation to the following matters (the “Marketing Purposes”):

                </li>
                <li>(a) to process your participation in any events, promotions, activities, focus groups, research studies, contests, promotions, polls, surveys or any productions and to communicate with you regarding your attendance thereto;
                </li>
                <li>(b) to send you alerts, newsletters, updates, mailers, promotional materials, special privileges, festive greetings from the Company and/or its affiliate companies, its partners, advertisers and or sponsors;
                </li>
                <li>(c) to notify and invite you to events or activities organized by the Company and/or its affiliate companies, its partners, advertisers, and or sponsors; and/or

                </li>
                <li>(d) to share your Personal Data amongst the companies within Buckyy’s group.</li>
                <li>6.6 If you do not consent to the Company processing your Personal Data for any of the Marketing Purposes, or if any of the Personal Data that you have provided to us changes, for example, if you change your email address, telephone number, payment details or if you wish to cancel your account or withdraw your permission to receive communications, or if there are any queries about your personal data, please contact and notify the Company through the Help Center:  09678100800;</li>
                <li>6.7 The Company will, to the best of its abilities, effect such changes as requested within fourteen (14) working days of receipt of such notice of change.</li>
                <li>6.8 The Company is committed to full compliance with the provisions of the personal data protection laws of Bangladesh.</li>
                <li> Indemnification</li>
                <li>By agreeing to the Terms and Conditions upon using the Service, you agree that you shall defend, indemnify and hold the Company, its affiliates, officers, directors, members, employees, attorneys and agents harmless from and against any and all claims, costs, damages, losses, liabilities and expenses (including attorneys’ fees and costs and/or regulatory action) arising out of or in connection with:
                </li>
                <li>(a) your use of the Service and/or the Buckyy Platform in your dealings with Third Party Providers and other third-party merchants, transportation providers, partners, advertisers and/or sponsors, where applicable;</li>
                <li>(b) your violation or breach of any of the Terms and Conditions or any applicable law or regulation, whether or not referenced herein;
                </li>
                <li>(c) your violation of any rights of any third party; and
                </li>
                <li>(d) your misuse of the Service and/or the Buckyy Platform.</li>
                <li>8. Limitation of Liability</li>
                <li>8.1 The Company makes no representation, warranty or guarantee as to the reliability, timeliness, quality, suitability, availability, accurate or completeness of the Service and/or the Buckyy Platform.
                </li>
                <li>8.2 The Company does not represent or warrant that:</li>
                <li>(a) The use of the Service and/or the Buckyy Platform will be secure, timely, uninterrupted or error-free or operate in combination with any other hardware, software, system or data;
                </li>
                <li>(b) The Service will meet your requirements or expectations;</li>
                <li>(c) Any stored data will be accurate or reliable;</li>
                <li>(d) The quality of any products, services, information, rewards or another material purchased or obtained by you through the Service will meet your requirements or expectations; or
                </li>
                <li>(e) Errors or defects in the Service will be corrected.</li>
                <li>8.3 The Service is provided to you strictly on an “as is” basis.</li>
                <li>8.4 All conditions, representations, and warranties, whether express, implied, statutory or other, including without limitation, any implied warranty of merchantability, fitness for a particular purpose, or non-infringement of third party rights, are here excluded and disclaimed to the highest and maximum extent allowed under any law of Bangladesh.
                </li>
                <li>8.5 The Service and/or the Buckyy Platform may be subject to limitations, delays and other problems inherent in the use of the internet and electronic communications including the device used by you or other Users being faulty, not connected, out of range of mobile signals or functioning incorrectly. The Company is not responsible for any delays, delivery failures, damages or losses resulting from such problems.
                </li>
                <li>8.6 To the fullest extent permitted by law, the Company shall not be liable for any claim, loss, damage, data loss, costs or expenses incurred (whether direct or consequential), suffered or sustained by you arising from or in connection with you use of the Service and/or the Buckyy Platform.</li>
                <li>9. Termination
                </li>
                <li>9.1. Subject to Clause 9.4, either the Company or you may terminate this Agreement on one month’s notice in writing and you will be disabled from further use of the Service at the end of the one-month notice period.
                </li>
                <li>9.2 You hereby agree that this Agreement shall terminate immediately in the event that you are:
                </li>
                <li>(a) declared bankrupt, insolvent or enter into liquidation or such other scheme of arrangement or administration;

                </li>
                <li>(b) found in default of your debt obligations to a licensed bank by a Bangladesh court; or</li>
                <li>(c) deceased.
                </li>
                <li>9.3 You hereby agree that the Company is entitled to terminate this Agreement immediately in the event that you are found to be in breach of any of the terms stipulated in this Agreement.
                </li>
                <li>
                    9.4 As a User, you acknowledge and agree that while the Company may disable your further use of the Service, you will not be able to terminate this Agreement if there are any amounts or payments outstanding due to the Company.
                    </li>
                <li>10. Complaints about use of the Service</li>
                <li>10.1 Users are invited to contact the Company on the first instance in the event they wish to make a complaint about the use of the Service.</li>
                <li>10.2 You agree to raise any complaints and disputes about the Service within one month of the transaction for payment of Products or within seven days of the payment of the bills.</li>
                <li>11. Notices</li>
                <li>11.1 The Company may give notice by means of a general notice on the Application, or by electronic mail to your email address in the records of the Company, or by written communication sent by registered mail to your address in the record of the Company. Such notice shall be deemed to have been given upon the expiration of 48 hours after mailing or posting (if sent by registered mail or pre-paid post) or 1 hour after sending (if sent by email).
                </li>
                <li>11.2 You may give notice to the Company (such notice shall be deemed given when received by the Company) by letter sent by courier or registered mail to the Company using the contact details as provided in the Application.</li>
                <li>12. Assignment</li>
                <li>12.1 This Agreement as constituted by the Terms and Conditions as modified from time to time may not be assigned by you without the prior written approval of the Company but may be assigned without your consent by the Company.
                </li>
                <li>12.2 Any purported assignment by you in violation of this section shall be void.
                </li>
                <li>14. Dispute Resolution</li>
                <li>This Agreement shall be governed by Bangladesh law, without regard to the choice or conflicts of law provisions of any jurisdiction, and any disputes, actions, claims or causes of action arising out of or in connection with the Terms and Conditions and Conditions or the Service including breach, interpretation, termination or invalidity hereof, the Parties shall try to resolve the issue amicably by mutual understanding. </li>
                <li>If there is no resolution within a period of 30 (thirty) days, the issue shall be finally resolved by arbitration in accordance with the Arbitration Act, 2001 prevailing in Bangladesh. All arbitration proceedings shall be conducted in the English language and the place of arbitration shall be Dhaka, Bangladesh. The decision of the arbitration tribunal shall be regarded as final and binding on both the Parties to this Agreement. Each Party shall bear its own costs, charges and fees of such arbitration. 
                </li>
                <li>15. No joint venture
                </li>
                <li>No joint venture, partnership, employment, or agency relationship exists between you, the Company or any Third Party Provider as a result of these Terms and Conditions or use of the Service.</li>
                <li>16. Entire Terms
                </li>
                <li>If any provision of the Terms and Conditions is held to be invalid or unenforceable, such provision shall be struck and the remaining provisions shall be enforced to the fullest extent under law. This shall, without limitation, also apply to the applicable law and jurisdiction as stipulated above.</li>
                <li>17. Waiver
                </li>
                <li>The failure of the Company to enforce any right or provision in the Terms and Conditions shall not constitute a waiver of such right or provision unless acknowledged and agreed to by the Company in writing.
                </li>
            </ol>
            <button id="agree-btn" onClick="agreeTermsAndConditions()">I Agree</button>
        </div>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Hey there!</strong>&nbsp; Please fill up the input field below.
        <button type="button" class="close" id="close-alert" data-dismiss="alert" aria-label="Close" onClick="closePopup()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Hey there!</strong>&nbsp; Please enter a valid email address.
        <button type="button" class="close" id="close-alert" data-dismiss="alert" aria-label="Close" onClick="closePopup()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <script src="{% static 'js/fileUpload.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>

</html>
