<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="sign-up-2"></section>
    <div class="sign-in-popup">
        <div class="pop-up">
            <img src="{% static 'images/account.png'%}">
            <button class="close-btn" onClick="closePopup()"><i class="far fa-times-circle"></i></button>
            <h3>Sign in</h3>
            <p>Sign in to your account with your phone number</p>
            <form action="#" method="">
                <input type="number" id="phone-number-input" placeholder="Phone number" required>
                <input type="password" placeholder="Password" required>
                <p id="forgotten-password-para">Forgotten password?</p>
                <button type="submit">Continue</button>
            </form>
            <a onClick="openCreateAccountPopup()">Don't have an account? Create one.</a>
            <p class="terms-of-service-para">By continuing, I agree to Buckyy’s <span id="terms-of-service">Terms of
                    Service</span> and authorize Buckyy to obtain, use, and share consumer reports about me.</p>
        </div>
    </div>

    <div class="create-account-popup">
        
        <div class="pop-up">
            <button class="close-btn" onClick="closePopup()"><i class="far fa-times-circle"></i></button>
            <img src="{% static 'images/account.png'%}">
            <h3>Create your account</h3>
            <p>Tell us a bit about yourself. We just need the basics.</p>
            <form action="#" method="post">{% csrf_token %}
            
                
                <input type="number" name="phone1" placeholder="Phone number" required>
                <button type="submit" onClick="showOtpPopup()">Continue</button>
            </form>
            <p>We’ll send you a verification code via SMS.</p>
            <p class="terms-of-service-para">By continuing, I agree to Buckyy’s <span id="terms-of-service">Terms of
                    Service</span> and authorize Buckyy to obtain, use, and share consumer reports about me.</p>
        </div>
    </div>

    <!--div class="otp-popup">
        <div class="pop-up">
            <button class="close-btn" onClick="closePopup()"><i class="far fa-times-circle"></i></button>
            <img src="{% static 'images/account.png'%}">
            <h3>OTP</h3>
            <p>An OTP has been sent to your phone number</p>
            <form action="#" method="">
                <div class="otp-input">
                    <input type="text" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" required />
                    <input type="text" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" required />
                    <input type="text" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" required />
                    <input type="text" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" required />
                    <input type="text" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" required />
                    <input type="text" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" required />
                </div>
                <button type="submit">Confirm</button>
            </form>
            <p>Didn’t receive the code?</p>
            <a>Resend OTP</a>
        </div>
    </div-->
    </section> 
</body>
</html>