{% load static %}
<html>
<head>
    <title>Bucky</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon"  href="{% static '/images/bucky_favicon.png'%}">
    <script src="https://kit.fontawesome.com/9210d8956f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{%static 'css/verify.css' %}">
</head>

<body>
    <div class="ekyc-section">
        <div class="ekyc-container">
            <div class="verifing-section">
                <div class="verifing-section-container">
                    <img src="{%static 'images/verified_icon.png' %}" alt="verified_icon">
                    <h1>We’re Verifying Now</h1>
                    <p>Please hold still. You’ll be notified after the process is completed</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
