{% load static %}
<html>

<head>
    <title>Buckyy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static '/images/bucky_favicon.png'%}">
    <link rel="stylesheet" href="{% static 'css/form.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<nav>
    <a href="{% url 'home:home' %}"><img src="{% static 'images/left_arrow.png' %}" alt="left_arrow" id="left-arrow-img"></a>
    <img src="{% static 'images/bucky_logo_green_dashboard.png' %}" alt="bucky_logo">
</nav>
<body>
    <div class="sign-in-popup">
        <div class="pop-up">
            <img src="{% static 'images/account.png'%}">
            <h3>Sign in</h3>
            <p>Sign in to your account with your phone number</p>
            <form action="" method="">
                <input type="tel" id="phone-number-input" placeholder="Phone number" required>
                <input type="password" placeholder="Password" required>
                <p id="forgotten-password-para">Forgotten password?</p>
                <button type="submit">Continue</button>
            </form>
            <a onClick="openCreateAccountPopup()">Don't have an account? Create one.</a>
            <p class="terms-of-service-para">By continuing, I agree to Buckyy’s <span id="terms-of-service">Terms of
                    Service</span> and authorize Buckyy to obtain, use, and share consumer reports about me.</p>
        </div>
    </div>

    <div class="create-account-popup">
        <div class="pop-up">
            <img src="{% static 'images/account.png'%}">
            <h3>Create your account</h3>
            <p>Tell us a bit about yourself. We just need the basics.</p>
            <form action="" method="post">
                {% csrf_token %}
                <input type="tel" name="phone" placeholder="Phone number" required>
                <button type="submit">Continue</button>
            </form>
            <p>We’ll send you a verification code via SMS.</p>
            <p class="terms-of-service-para">By continuing, I agree to Buckyy’s <span id="terms-of-service">Terms of
            Service</span> and authorize Buckyy to obtain, use, and share consumer reports about me.</p>
        </div>
    </div>

    <!--div class="otp-popup">
        <div class="pop-up">
            <button class="close-btn" onClick="closePopup()"><i class="far fa-times-circle"></i></button>
            <img src="{% static 'images/account.png'%}">
            <h3>OTP</h3>
            <p>An OTP has been sent to your phone number</p>
            <form action="#" method="">
                <div class="otp-input">
                    <input type="text" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" required />
                    <input type="text" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" required />
                    <input type="text" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" required />
                    <input type="text" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" required />
                    <input type="text" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" required />
                    <input type="text" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" required />
                </div>
                <button type="submit">Confirm</button>
            </form>
            <p>Didn’t receive the code?</p>
            <a>Resend OTP</a>
        </div>
    </div-->
    <script src="{% static 'js/form.js'%}"></script>
</body>

</html>




















